* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
    border-radius: 2%;
}

.border:hover {
    border: 1px solid white;
}

/**box 2 of navbar**/
#location-first {
    color: #ccc;
    font-size: 0.75rem;
    margin-left: 17px;
}

#location-second {
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 5px;
}

.location-icon {
    display: flex;
    align-items: last baseline;
}

/**box 3 of navbar**/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 920px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/**box 4 of navbar**/
span {
    font-size: 0.75rem;

}

.nav-second {
    font-size: 0.9rem;
    font-weight: 700;
}

/**box 6 of navbar**/
.nav-cart i {
    font-size: 30px;
}

/**panel below navbar**/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops {
    width: 70%;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-deals {
    font-weight: 700;
}

/**hero section**/
.hero-section {
    background-image: url("hero_image.jpg");
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-message a {
    color: #007185;
    text-decoration: none;
}

.hero-message a:hover {
    color: rgb(170, 27, 27);
    text-decoration: underline;
}

/**shop section**/

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.box1 .box-content .box-img {
    background-image: url("box1_image.jpg");
}

.box2 .box-content .box-img {
    background-image: url("box2_image.jpg");
}

.box3 .box-content .box-img {
    background-image: url("box3_image.jpg");
}

.box4 .box-content .box-img {
    background-image: url("box4_image.jpg");
}

.box5 .box-content .box-img {
    background-image: url("box5_image.jpg");
}

.box6 .box-content .box-img {
    background-image: url("box6_image.jpg");
}

.box7 .box-content .box-img {
    background-image: url("box7_image.jpg");
}

.box8 .box-content .box-img {
    background-image: url("box8_image.jpg");
}

.box-content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.box-content p {
    color: #007185;
}